body {margin:0;}

.navbar {
  overflow: hidden;
/*  background-color: #333; */
  background-image: linear-gradient(to right, #05ff58, #1100ff, #ff0080);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: fixed;
  box-shadow: 10px 0 50px #008cff;
  top: 0;
  z-index: 100;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding-right: 30px;
  padding-left: 20px;
}

.navbar a:hover {
  background: #ddd;
  opacity: 0.80;
  color: black;
}
.navbarRight{
  top: 0;
  right: 15px;
}

.main {
  padding: 120px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

.bg-img { 
    min-height: 100vh;
    width: auto;
    padding-top: 1rem; 
    position: relative; /*
    background-color: #000000; */
    background-image: url("../Pictures_inz/bgtest2.jpg");
    background-repeat: repeat-y;
    background-size: 100vw;
} /* */

    /* Główny kontener z wieloma elementami */
    .container {
      display: flex;            /* włącza flexbox */
      flex-wrap: wrap;          /* elementy zawijają się, jeśli nie mieszczą się w wierszu */
      justify-content: space-between; /* równe odstępy między elementami */
      align-items: stretch;     /* elementy rozciągają się na wysokość kontenera */
      min-width: 15vh;          /* minimalna szerokość kontenera*/
      min-height: 20%;              /* wysokość kontenera */
      padding: 20px;            /* wewnętrzny odstęp */
      box-sizing: border-box;   /* uwzględnia padding i border w szerokości/ wysokości */
      box-shadow: 10px 0 50px #008cff;
      background-color: rgba(167, 255, 243, 0.8);
      border-radius: 5rem;
    }

    /* Pojedynczy element w kontenerze */
    .item {
      padding: 20px;                /* wewnętrzny odstęp */
      margin: 10px;                 /* odstęp między elementami */
      flex-grow: 1;                 /* elementy mogą rosnąć, aby wypełnić wolną przestrzeń */
      flex-basis: 30%;              /* początkowa szerokość elementu (30% kontenera) */
      color: rgb(66, 66, 66);
      text-align: center;           /* wyśrodkowanie tekstu w elemencie */
      box-sizing: border-box;       /* padding i border wliczone w rozmiar elementu */
    }
    .itemShadow{
      box-shadow: 10px 0 50px #FFD700;
    }

    h1 {
       color: rgb(66, 66, 66);
       text-align: center;
    }
    br {
      user-select: none;
    }

    /*
    img {
    width : 15vw;
    height: auto;
    padding-top: 10px;
    } */

    .profile {
      height: 300px;
      width: 450px;
      color: rgb(66, 66, 66);
      background-color: rgba(128, 128, 128, 0.8);
      top: 10vw;
      left: 50vw;
      position: relative;
      z-index: 0;
      box-shadow: 0px 0 75px #7a7a7a;
      border-radius: 25px;
    }
    
    .avatarProfile {
      position: absolute;
      padding-top: 15px;
      width: 64px;
      top: 0px;
      right: 120px;
    }

    .textProfile{
      position: absolute;
      padding: 15px;
      margin-right: 50%;
      font-size: 16px;
      top: 0;
      left: 0;
    }

    div.HistoryWatch{
      background-color: #334;
      overflow: auto;
      white-space: nowrap;
      width: 400px;
      margin-top: -150px;
      margin-left: 50px;
    }

    div.HistoryWatch img{
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px;
      text-decoration: none;
      width: 60px;
      height: auto;
    }

    div.HistoryWatch img:hover{
      background-color: #777;
    }

    div.scroll-container {
      background-color: #333;
      overflow: auto;
      white-space: nowrap;
      padding: 10px;
    }

    div.scroll-container img {
      padding: 150px;
    }

    .search {
      width: max-content;
      display: flex;
      align-items: center;
      padding: 14px;
      border-radius: 28px;
      background-color: rgba(246, 246, 246, 0.6);
      transition: box-shadow 0.25s;
    }
    
    .search:focus-within {
      background-color: rgba(246, 246, 246, 0.8);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
    }
    
    .search-input{
      font-size: 16px;
      font-family: 'Lexend', sans-serif;
      color: #333333;
      margin-left: 14px;
      outline: none;
      border: none;
      background: transparent;
      flex: 1;
    }