body {margin:0;}

.navbar {
  overflow: hidden;
/*  background-color: #333; */
  background-image: linear-gradient(to right, #05ff58, #1100ff, #ff0080);
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  position: fixed;
  box-shadow: 10px 0 50px #008cff;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  opacity: 0.80;
  color: black;
}

.main {
  padding: 120px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

.bg-img { /*
    background-image: url("background2.jpg");
    min-height: 380px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    image-rendering: pixelated; */
    min-height: 100vh;
    min-width: 100vh;
    padding-top: 1rem; 
    position: relative;
    background-color: #000000;
}

    /* Główny kontener z wieloma elementami */
    .container {
      display: flex;            /* włącza flexbox */
      flex-wrap: wrap;          /* elementy zawijają się, jeśli nie mieszczą się w wierszu */
      justify-content: space-between; /* równe odstępy między elementami */
      align-items: stretch;     /* elementy rozciągają się na wysokość kontenera */
      min-width: 15vh;          /* minimalna szerokość kontenera*/
      min-height: 20%;              /* wysokość kontenera */
      padding: 20px;            /* wewnętrzny odstęp */
      box-sizing: border-box;   /* uwzględnia padding i border w szerokości/ wysokości */
      box-shadow: 10px 0 50px #008cff;
      border-radius: 5rem;
    }

    /* Pojedynczy element w kontenerze */
    .item {
      padding: 20px;                /* wewnętrzny odstęp */
      margin: 10px;                 /* odstęp między elementami */
      flex-grow: 1;                 /* elementy mogą rosnąć, aby wypełnić wolną przestrzeń */
      flex-basis: 30%;              /* początkowa szerokość elementu (30% kontenera) */
      text-align: center;           /* wyśrodkowanie tekstu w elemencie */
      box-sizing: border-box;       /* padding i border wliczone w rozmiar elementu */
    }

    h1 {
       color: white;
       text-align: center;
    }